body {
  overflow-x: hidden;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.yo-container {
  flex: 1;
  max-width: 900px;
  background-color: #eef0ff;
  display: flex;
  margin-top: 40px;
  margin-bottom: 40px;
  flex-direction: column;
  align-items: center;
  padding-bottom: 20px;
  border-radius: 10px;
  padding-top: 20px
}
h1 {
  margin: 0;
  padding: 0;
}
.yo-app-title {
  flex: 4;
  flex-direction: column;
  align-items: flex-start;
  margin-left: 30px;
}
.yo-app-icon {
  flex: 1;
  justify-content: flex-end;
  margin-right: 30px;
}
.yo-app-icon img {
  border-radius: 10px
}
.yo-container div {
  display: flex;
  align-items: center;
}
.yo-image-holder {
  align-self: stretch;
  flex-wrap: wrap;
  justify-content: space-around;
}
.yo-image-holder div {
  margin-top: 30px;
  margin-bottom: 30px;
}
body.yo-index {
  display: flex;
  justify-content: center;
}